<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ec.edu.uce.trabajo_grupo05">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AcerdaDe"
            android:label="@string/title_activity_acerda_de"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.MainActivity" />
        </activity>
        <activity
            android:name=".menus.MenuCapitulos"
            android:label="@string/title_activity_menu_capitulos"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.MainActivity" />
        </activity>
        <activity
            android:name=".menus.C1"
            android:label="@string/title_activity_c1"
            android:parentActivityName=".menus.MenuCapitulos"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.MenuCapitulos" />
        </activity>
        <activity
            android:name=".menus.C2"
            android:label="@string/title_activity_c2"
            android:parentActivityName=".menus.C2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C2" />
        </activity>

        <activity
            android:name=".ejercicios.c2.E5ActionActivity"
            android:label="@string/title_activity_e5_contextmenu"
            android:parentActivityName=".menus.C2"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C2" />
        </activity>


        <activity
            android:name=".ejercicios.c2.E15DisallowActivity"
            android:label="@string/title_activity_e15_touchintercept"
            android:parentActivityName=".menus.C2"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C2" />
        </activity>


        <activity
            android:name=".ejercicios.c2.E16DragTouchActivity"
            android:label="@string/title_activity_e16_draganddrop"
            android:parentActivityName=".menus.C2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C2" />
        </activity>


        <activity
            android:name=".ejercicios.c2.E17SupportActivity"
            android:label="@string/title_activity_e17_actionbar"
            android:parentActivityName=".menus.C2"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C2" />
        </activity>
        <activity
            android:name=".ejercicios.c2.E17ToolbarActivity"
            android:label="@string/title_activity_e17_toolbar"
            android:parentActivityName=".menus.C2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C2" />
        </activity>
        <activity
            android:name=".ejercicios.c2.E18FragmentPagerActivity"
            android:label="@string/title_activity_e18_fagment_pager"
            android:parentActivityName=".menus.C2"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C2" />
        </activity>
        <activity
            android:name=".ejercicios.c2.E18PagerActivity"
            android:label="@string/title_activity_e18_pager"
            android:parentActivityName=".menus.C2"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C2" />
        </activity>


        <activity
            android:name=".ejercicios.c2.E19ActionTabsActivity"
            android:label="@string/title_activity_e19_action_tabs"
            android:parentActivityName=".menus.C2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C2" />
        </activity>
        <activity
            android:name=".menus.C3"
            android:label="@string/title_activity_c3"
            android:parentActivityName=".menus.MenuCapitulos"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.MenuCapitulos" />
        </activity>
        <activity
            android:name=".ejercicios.c1.E01StylesActivity"
            android:label="@string/title_activity_e01_Styled_Widgets"
            android:parentActivityName=".menus.C1"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C1" />
        </activity>
        <activity
            android:name=".ejercicios.c1.E01ThemedActivity"
            android:label="@string/title_activity_e01_theme"
            android:parentActivityName=".menus.C1"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C1" />
        </activity>

        <activity
            android:name=".ejercicios.c1.E02MainActivity"
            android:label="@string/title_activity_c1e02_app_name"
            android:parentActivityName=".menus.C1"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C1" />
        </activity>
        <activity android:name=".ejercicios.c1.E02DarkActivity"
            android:theme="@style/Theme.AppCompat"/>
        <activity android:name=".ejercicios.c1.E02FullActivity"
            android:theme="@style/Theme.AppCompat"/>
        <activity android:name=".ejercicios.c1.E02HideActivity"
            android:theme="@style/Theme.AppCompat"/>
        <activity android:name=".ejercicios.c1.E02ImmersiveActivity"
            android:theme="@style/Theme.AppCompat"/>
        <activity android:name=".ejercicios.c1.E02ImmersiveStickyActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity
            android:name=".ejercicios.c1.E03MyActivity"
            android:label="@string/title_activity_c1e03_CustomWidgets"
            android:parentActivityName=".menus.C1"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C1" />
        </activity>

        <activity
            android:name=".ejercicios.c1.E04MyActivity"
            android:label="@string/title_activity_c1e04_AnimateProperty"
            android:parentActivityName=".menus.C1"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C1" />
        </activity>

        <activity
            android:name=".ejercicios.c1.E04FlipperActivity"
            android:parentActivityName=".ejercicios.c1.E04MyActivity"
            android:theme="@style/Theme.AppCompat">
        </activity>
        <activity
            android:name=".ejercicios.c1.E04FlipperPauseActivity"
            android:parentActivityName=".ejercicios.c1.E04MyActivity"
            android:theme="@style/Theme.AppCompat">
        </activity>
        <activity
            android:name=".ejercicios.c1.E04FlipperActivityXml"
            android:parentActivityName=".ejercicios.c1.E04MyActivity"
            android:theme="@style/Theme.AppCompat">
        </activity>

        <activity
            android:name=".ejercicios.c1.E04AnimateActivity"
            android:label="@string/title_activity_c1e042_AnimateViewProperty"
            android:parentActivityName=".menus.C1"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C1" />
        </activity>
        <activity
        android:name=".ejercicios.c1.E05MainActivity"
        android:label="@string/title_activity_c1e05_AnimateLayout"
        android:parentActivityName=".menus.C1"
        android:theme="@style/Theme.AppCompat">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="ec.edu.uce.trabajo_grupo05.menus.C1" />
    </activity>
        <activity
            android:name=".ejercicios.c1.E06UniversalActivity"
            android:label="@string/title_activity_c1e05_AnimateLayout"
            android:parentActivityName=".menus.C1"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C1" />
        </activity>
        <activity
            android:name=".ejercicios.c1.E07EmptyActivity"
            android:label="@string/title_activity_c1e07_AdapterViewEmpty"
            android:parentActivityName=".menus.C1"
            android:theme="@style/AppTheme1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C1" />
        </activity>
        <activity
            android:name=".ejercicios.c1.E08MyActivity"
            android:label="@string/title_activity_c1e08_CustomList"
            android:parentActivityName=".menus.C1"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C1" />
        </activity>
        <activity
            android:name=".ejercicios.c1.E09SectionsActivity"
            android:label="@string/title_activity_c1e09_ListSections"
            android:parentActivityName=".menus.C1"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C1" />
        </activity>
        <activity
            android:name=".ejercicios.c1.E10MyActivity"
            android:label="@string/title_activity_c1e10_CompoundControls"
            android:parentActivityName=".menus.C1"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C1" />
        </activity>

    </application>

</manifest>