<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ec.edu.uce.trabajo_grupo05"

   >
    <uses-sdk

        android:targetSdkVersion="16"
        android:minSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />


    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <!-- Required in 4.4+ to read SMS provider -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"></uses-permission>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AcerdaDe"
            android:label="@string/title_activity_acerda_de"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.MainActivity" />
        </activity>
        <activity
            android:name=".menus.MenuCapitulos"
            android:label="@string/title_activity_menu_capitulos"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.MainActivity" />
        </activity>


        <!--CAPITULO 1-->
        <activity
            android:name=".menus.C1"
            android:label="@string/title_activity_c1"
            android:parentActivityName=".menus.MenuCapitulos"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.MenuCapitulos" />
        </activity>


        <!--CAPITULO 1-->
        <activity
            android:name=".menus.C2"
            android:label="@string/title_activity_c2"
            android:parentActivityName=".menus.C2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C2" />
        </activity>


        <activity
            android:name=".ejercicios.c1.E01StylesActivity"
            android:label="@string/title_activity_e01_Styled_Widgets"
            android:parentActivityName=".menus.C1"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C1" />
        </activity>
        <activity
            android:name=".ejercicios.c1.E01ThemedActivity"
            android:label="@string/title_activity_e01_theme"
            android:parentActivityName=".menus.C1"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C1" />
        </activity>

        <activity
            android:name=".ejercicios.c1.E02MainActivity"
            android:label="@string/title_activity_c1e02_app_name"
            android:parentActivityName=".menus.C1"
            android:theme="@style/AppTheme">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C1" />
        </activity>
        <activity
            android:name=".ejercicios.c1.E02DarkActivity"
            android:label="Dark Mode"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ejercicios.c1.E02FullActivity"
            android:label="Fullscreen Mode"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ejercicios.c1.E02HideActivity"
            android:label="Hide Navigation"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ejercicios.c1.E02ImmersiveActivity"
            android:label="Immersive Mode"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ejercicios.c1.E02ImmersiveStickyActivity"
            android:label="Immersive Sticky Mode"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ejercicios.c1.E03MyActivity"
            android:label="@string/title_activity_c1e03_CustomWidgets"
            android:parentActivityName=".menus.C1"
            android:theme="@style/AppTheme">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C1" />
        </activity>

        <activity
            android:name=".ejercicios.c1.E04MyActivity"
            android:label="@string/title_activity_c1e04_AnimateProperty"
            android:parentActivityName=".menus.C1"
            android:theme="@style/AppTheme">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C1" />
        </activity>

        <activity
            android:name=".ejercicios.c1.E04FlipperActivity"
            android:label="Flipper"
            android:parentActivityName=".ejercicios.c1.E04MyActivity"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".ejercicios.c1.E04FlipperPauseActivity"
            android:label="Flipper Pause"
            android:parentActivityName=".ejercicios.c1.E04MyActivity"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".ejercicios.c1.E04FlipperActivityXml"
            android:label="Flipper XML"
            android:parentActivityName=".ejercicios.c1.E04MyActivity"
            android:theme="@style/AppTheme"></activity>

        <activity
            android:name=".ejercicios.c1.E04AnimateActivity"
            android:label="@string/title_activity_c1e042_AnimateViewProperty"
            android:parentActivityName=".menus.C1"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C1" />
        </activity>
        <activity
            android:name=".ejercicios.c1.E05MainActivity"
            android:label="@string/title_activity_c1e05_AnimateLayout"
            android:parentActivityName=".menus.C1"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C1" />
        </activity>
        <activity
            android:name=".ejercicios.c1.E06UniversalActivity"
            android:label="@string/title_activity_c1e05_AnimateLayout"
            android:parentActivityName=".menus.C1"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C1" />
        </activity>
        <activity
            android:name=".ejercicios.c1.E07EmptyActivity"
            android:label="@string/title_activity_c1e07_AdapterViewEmpty"
            android:parentActivityName=".menus.C1"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C1" />
        </activity>
        <activity
            android:name=".ejercicios.c1.E08MyActivity"
            android:label="@string/title_activity_c1e08_CustomList"
            android:parentActivityName=".menus.C1"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C1" />
        </activity>
        <activity
            android:name=".ejercicios.c1.E09SectionsActivity"
            android:label="@string/title_activity_c1e09_ListSections"
            android:parentActivityName=".menus.C1"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C1" />
        </activity>
        <activity
            android:name=".ejercicios.c1.E10MyActivity"
            android:label="@string/title_activity_c1e10_CompoundControls"
            android:parentActivityName=".menus.C1"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C1" />
        </activity>


        <activity
            android:name=".ejercicios.c1.E11MyActivity"
            android:label="@string/title_activity_c1e11_TransitionAnimations"
            android:parentActivityName=".menus.C1"
            android:theme="@style/AppTheme">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C1" />
        </activity>
        <activity
            android:name=".ejercicios.c1.E11SupportActivity"
            android:parentActivityName=".ejercicios.c1.E11MyActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ejercicios.c1.E11NativeActivity"
            android:parentActivityName=".ejercicios.c1.E11MyActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ejercicios.c1.E12Main"
            android:label="@string/title_activity_ej12_TransformScroller"
            android:parentActivityName=".menus.C1"
            android:theme="@style/AppTheme">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C1" />
        </activity>
        <activity
            android:name=".ejercicios.c1.E12MainActivity"
            android:parentActivityName=".ejercicios.c1.E12Main"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ejercicios.c1.E12ScrollActivity"
            android:hardwareAccelerated="false"
            android:parentActivityName=".ejercicios.c1.E12Main"
            android:theme="@style/AppTheme">

        </activity>

        <activity android:name=".ejercicios.c1.E13SimpleRecyclerActivity"
            android:label="@string/title_activity_ej13_RecyclerView">

        </activity>


        <!--CAPITULO 2-->
        <activity
            android:name=".ejercicios.c2.E1SupportToolbarActivity"
            android:label="@string/title_activity_e1_ActionBar"
            android:parentActivityName=".menus.C2"
            android:theme="@style/AppTheme">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C2" />
        </activity>
        <activity
            android:name=".ejercicios.c2.E1SupportActionActivity"
            android:label="@string/title_activity_e1_ActionBar1"
            android:parentActivityName=".menus.C2"
            android:theme="@style/AppTheme">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C2" />

        </activity>

        <activity
            android:name=".ejercicios.c2.E2FragmentPagerActivity"
            android:label="@string/title_activity_e2_ActivityOrientation"
            android:screenOrientation="sensorLandscape"
            android:parentActivityName=".menus.C2"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C2" />
        </activity>
        <activity
            android:name=".ejercicios.c2.E2FragmentPagerActivity1"
            android:label="@string/title_activity_e2_ActivityOrientation1"
            android:screenOrientation="behind"
            android:parentActivityName=".menus.C2"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C2" />
        </activity>
        <activity
            android:name=".ejercicios.c2.E2FragmentPagerActivity2"
            android:label="@string/title_activity_e2_ActivityOrientation2"
            android:screenOrientation="sensorPortrait"
            android:parentActivityName=".menus.C2"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C2" />
        </activity>

        <activity
            android:name=".ejercicios.c2.E2Menu"
            android:label="@string/title_activity_e2_ActivityOrientation3"
            android:parentActivityName=".menus.C2"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C2" />
        </activity>

        <activity
            android:name=".ejercicios.c2.E3LockActivity"
            android:label="@string/title_activity_e3_LockActivity"
            android:parentActivityName=".menus.C2"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C2" />
        </activity>
        <activity
            android:name=".ejercicios.c2.E4ManualRotationActivity"
            android:label="@string/title_activity_e4_ManuallyHandlingRotation"
            android:parentActivityName=".menus.C2"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C2" />
        </activity>


        <activity
            android:name=".ejercicios.c2.E5ActionActivity"
            android:label="@string/title_activity_e5_contextmenu"
            android:parentActivityName=".menus.C2"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C2" />
        </activity>


        <activity
            android:name=".ejercicios.c2.E6CustomItemActivity"
            android:label="@string/title_activity_e6_dialogs"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C2" />

        </activity>


        <activity
            android:name=".ejercicios.c2.E6DialogActivity"
            android:label="@string/title_activity_e6_dialogs"
            android:parentActivityName=".menus.C2"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C2" />
        </activity>

        <activity
            android:name=".ejercicios.c2.E7OptionsActivity"
            android:label="@string/title_activity_e7_optionsmenu"
            android:parentActivityName=".menus.C2"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C2" />
        </activity>




        <activity
            android:name=".ejercicios.c2.E8MenuAction"
            android:label="@string/title_activity_e8_customenu"
            android:parentActivityName=".menus.C2"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C2" />
        </activity>

        <activity
            android:name=".ejercicios.c2.E9CustomBack"
            android:label="@string/title_activity_e9_customback"
            android:parentActivityName=".menus.C2"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C2" />
        </activity>


        <activity
            android:name=".ejercicios.c2.E10Activity"
            android:label="@string/title_activity_e10_TextWatchers"
            android:parentActivityName=".menus.C2"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C2" />
        </activity>
        <activity
            android:name=".ejercicios.c2.E10MyActivity"
            android:theme="@style/AppTheme" />


        <activity
            android:name=".ejercicios.c2.E11CustomIME"
            android:label="@string/title_activity_e11_customimw"
            android:parentActivityName=".menus.C2"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C2" />
        </activity>

        <activity
            android:name="ec.edu.uce.trabajo_grupo05.ejercicios.c2.E13PanScrollActivity"
            android:label="@string/title_activity_e13_customtouch"
            android:parentActivityName="ec.edu.uce.trabajo_grupo05.menus.C2"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C2" />
        </activity>

        <activity
            android:name="ec.edu.uce.trabajo_grupo05.ejercicios.c2.E14DelegateActivity"
            android:label="@string/title_activity_e14_TouchEvents"
            android:parentActivityName="ec.edu.uce.trabajo_grupo05.menus.C2"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C2" />
        </activity>

        <activity
            android:name="ec.edu.uce.trabajo_grupo05.ejercicios.c2.E14RemoteScrollActivity"
            android:label="@string/title_activity_e1314TouchEvents"
            android:parentActivityName="ec.edu.uce.trabajo_grupo05.menus.C2"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C2" />
        </activity>

        <activity
            android:name=".ejercicios.c2.E15DisallowActivity"
            android:label="@string/title_activity_e15_touchintercept"
            android:parentActivityName=".menus.C2"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C2" />
        </activity>

        <activity
            android:name=".ejercicios.c2.E16DragTouchActivity"
            android:label="@string/title_activity_e16_draganddrop"
            android:parentActivityName=".menus.C2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C2" />
        </activity>


        <activity
            android:name=".ejercicios.c2.E17SupportActivity"
            android:label="@string/title_activity_e17_actionbar"
            android:parentActivityName=".menus.C2"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C2" />
        </activity>
        <activity
            android:name=".ejercicios.c2.E17ToolbarActivity"
            android:label="@string/title_activity_e17_toolbar"
            android:parentActivityName=".menus.C2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C2" />
        </activity>
        <activity
            android:name=".ejercicios.c2.E18FragmentPagerActivity"
            android:label="@string/title_activity_e18_fagment_pager"
            android:parentActivityName=".menus.C2"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C2" />
        </activity>
        <activity
            android:name=".ejercicios.c2.E18PagerActivity"
            android:label="@string/title_activity_e18_pager"
            android:parentActivityName=".menus.C2"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C2" />
        </activity>


        <activity
            android:name=".ejercicios.c2.E19ActionTabsActivity"
            android:label="@string/title_activity_e19_action_tabs"
            android:parentActivityName=".menus.C2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C2" />
        </activity>
        <!--CAPITULO 3-->
        <activity
            android:name=".menus.C3"
            android:label="@string/title_activity_c3"
            android:parentActivityName=".menus.MenuCapitulos"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.MenuCapitulos" />
        </activity>

        <activity
            android:name=".ejercicios.c3.E2DisplayingWebInformation"
            android:label="@string/title_activity_c2_1_DisplayingWebInformation"
            android:parentActivityName=".menus.C3"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C3" />
        </activity>

        <activity
            android:name=".ejercicios.c3.E1WebViewEvents"
            android:label="@string/title_activity_c3_2_WebViewEvents"
            android:parentActivityName=".menus.C3"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C3" />
        </activity>

        <activity
            android:name=".ejercicios.c3.E3JavaScript"
            android:label="@string/title_activity_e3_java_script"
            android:parentActivityName=".menus.C3"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C3" />
        </activity>
        <activity
            android:name=".ejercicios.c3.E5DownloadActivity"
            android:label="@string/title_activity_c3_5_DownloadActivity"
            android:parentActivityName=".menus.C3"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C3" />
        </activity>

        <activity
            android:name=".ejercicios.c3.E13Menu"
            android:label="@string/title_activity_c3_13_NfcActivity1"
            android:parentActivityName=".menus.C3"
            android:theme="@style/AppTheme"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C3" />
        </activity>
        <activity
            android:name=".ejercicios.c3.E13BeamActivity"
            android:label="@string/title_activity_c3_13_BeamActivity"
            android:parentActivityName=".ejercicios.c3.E13Menu"
            android:theme="@style/AppTheme"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C3" />
        </activity>
        <activity
            android:name=".ejercicios.c3.E13NfcActivity"
            android:label="@string/title_activity_c3_13_NfcActivity"
            android:parentActivityName=".ejercicios.c3.E13Menu"
            android:theme="@style/AppTheme"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C3" />
        </activity>


        <activity
            android:name=".ejercicios.c3.E6SearchActivity"
            android:label="@string/title_activity_c3_6_Rest"
            android:parentActivityName=".menus.C3"
            android:theme="@style/AppTheme"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C3" />
        </activity>
        <activity
            android:name=".ejercicios.c3.E7Json"
            android:label="@string/title_activity_c3_7_JSON"
            android:parentActivityName=".menus.C3"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C3" />
        </activity>
        <activity
            android:name=".ejercicios.c3.E6AuthActivity"
            android:label="@string/title_activity_c3_13_NfcActivity"
            android:parentActivityName=".menus.C3"
            android:theme="@style/AppTheme"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C3" />
        </activity>

        <activity
            android:name=".ejercicios.c3.E083MyActivity"
            android:label="@string/title_activity_c3e8_XmlPull"
            android:parentActivityName=".menus.C3"
            android:theme="@style/AppTheme">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C3" />
        </activity>

        <activity
            android:name=".ejercicios.c3.PullFeedActivity"
            android:label="@string/label_feed"
            android:parentActivityName=".ejercicios.c3.E083MyActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C3" />
        </activity>
        <activity
            android:name=".ejercicios.c3.PullParserActivity"
            android:label="@string/label_local"
            android:parentActivityName=".ejercicios.c3.E083MyActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C3" />
        </activity>
        <activity
            android:name=".ejercicios.c3.xmlsax.FeedActivity"
            android:label="@string/title_activity_c3e82_XmlSax"
            android:parentActivityName=".ejercicios.c3.E083MyActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C3" />
        </activity>

        <activity
            android:name=".ejercicios.c3.SmsActivity"
            android:label="@string/title_activity_c3e9_SMS"
            android:parentActivityName=".menus.C3"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C3" />

        </activity>

        <receiver
            android:name=".ejercicios.c3.SmsReceiver"
            android:exported="true">
            <!-- Define a priority on the filter to catch the ordered broadcast -->

        </receiver>
        <activity
            android:name=".ejercicios.c3.ExchangeActivity"
            android:label="@string/title_activity_c3e9_SMS"
            android:parentActivityName=".menus.C3"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C3" />

        </activity>
        <activity
            android:name=".ejercicios.c3.Reachability"
            android:label="@string/title_activity_c3e12_Reachability"
            android:parentActivityName=".menus.C3"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C3" />

        </activity>

        <activity
            android:name=".ejercicios.c3.USBActivity"
            android:label="@string/title_activity_c3e14_USBActivity" >



            <meta-data
                android:resource="@xml/device_filter"
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ec.edu.uce.trabajo_grupo05.menus.C3" />/>
        </activity>

        <activity
            android:name=".ejercicios.juegoAsteroides.Asteroides"
            android:label="@string/title_activity_main">

        </activity>
        <activity android:theme="@android:style/Theme.Dialog" android:label="Acerca de..." android:name=".ejercicios.juegoAsteroides.AcercaDe"> </activity>

        <activity android:name=".ejercicios.juegoAsteroides.Preferencias"> </activity>

        <activity android:name=".ejercicios.juegoAsteroides.Puntuaciones"> </activity>

        <activity android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" android:name=".ejercicios.juegoAsteroides.Juego" android:screenOrientation="landscape"> </activity>

    </application>

</manifest>